<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Sección de configuración de la aplicación -->
  <appSettings>
    <!-- Niveles de registro para la consola -->
    <add key="Logging:LogLevel:Default" value="Information" />
    <add key="Logging:LogLevel:Microsoft" value="Warning" />
    <add key="Logging:LogLevel:Microsoft.Hosting.Lifetime" value="Information" />
    <!-- Hosts permitidos -->
    <add key="AllowedHosts" value="*" />
    <!-- Cadena de conexión para la base de datos PortalWeb -->
    <add key="ConnectionStrings:PortalWeb" value="server=35.196.250.169;user=envprod;password=Ur4e98wEkUUlXSqZQVtEIm;database=procinal_produccion" />

    <!-- Configuraciones personalizadas -->
    <!-- Cadena de conexión para la base de datos PortalWebDB -->
    <add key="MyConfig:PortalWebDB" value="server=35.196.250.169;user=envprod;password=Ur4e98wEkUUlXSqZQVtEIm;database=procinal_produccion" />
    <!-- URL del portal web de Cartelera -->
    <add key="MyConfig:CarteleraWP" value="https://nuevaweb.procinal.com/" />
    <!-- URL de variables 41 -->
    <add key="MyConfig:Variables41" value="https://scorecoorp.procinal.com/MobileComJson/variable41.xml" />
    <!-- URL de ciudades 41 -->
    <add key="MyConfig:Ciudades41" value="https://scorecoorp.procinal.com/mobilecomjson/ciudades.xml" />
    <!-- Servicios de Score -->
    <add key="MyConfig:ScoreServices" value="https://scorecoorp.procinal.com/ThirdParty/api/SCOact/" />
    <!-- URL para envío de correos -->
    <add key="MyConfig:UrlCorreo" value="https://scorecoorp.procinal.com/terceros/enviocorreos.aspx?teatro=#xxx&amp;punto=#yyy&amp;id=#zzz&amp;to=#ccc&amp;correoAEnviar=compra" />
    <!-- URL para clave -->
    <add key="MyConfig:UrlCClave" value="https://scorecoorp.procinal.com/terceros/enviocorreos.aspx?to=#ccc&amp;correoAEnviar=clave" />
    <!-- URL para registro -->
    <add key="MyConfig:UrlCRegistro" value="https://scorecoorp.procinal.com/landingterceros/enviocorreos.aspx?to=#ccc&amp;correoaenviar=registro" />
    <!-- URL de imágenes para el retail -->
    <add key="MyConfig:UrlRetailImg" value="https://scorecoorp.procinal.com/SCOREIMG/imgpel/test/" />
    <!-- Variables 41 para el teatro -->
    <add key="Variables41T" value="https://scorecoorp.procinal.com/mobilecomjson//nuevaweb/variableCARTELERA.aspx?teatro=" />
    <!-- Variables 41 para el teatro y la película -->
    <add key="MyConfig:Variables41TP" value="https://scorecoorp.procinal.com/mobilecomjson//nuevaweb/variableCARTELERA_TEA_PEL.aspx?teatro=xxx&amp;pelicula=yyy" />
    <!-- Variables 41 para el teatro, la película y la fecha -->
    <add key="MyConfig:Variables41TPF" value="https://scorecoorp.procinal.com/mobilecomjson//nuevaweb/variableCARTELERA_TEA_PEL_FEC.aspx?teatro=xxx&amp;pelicula=yyy&amp;fecha=zzz" />
    <!-- URL de preguntas frecuentes -->
    <add key="MyConfig:URLfaqs" value="https://nuevaweb.procinal.com/preguntas-frecuentes" />
    <!-- URL del blog -->
    <add key="MyConfig:URLblog" value="https://nuevaweb.procinal.com/blog" />
    <!-- URL de tarifas -->
    <add key="MyConfig:URLtarifas" value="https://nuevaweb.procinal.com/tarifas" />
    <!-- URL de términos y condiciones -->
    <add key="MyConfig:URLprocinal" value="https://nuevaweb.procinal.com/terminos-y-condiciones-autocinema" />
    <!-- URL de contacto -->
    <add key="MyConfig:URLcontacto" value="https://nuevaweb.procinal.com/contacto" />
    <!-- URL de términos y condiciones de uso del sitio -->
    <add key="MyConfig:URLtermycond" value="https://nuevaweb.procinal.com/terminos-y-condiciones-de-uso-del-sitio/" />
    <!-- URL de políticas de protección del consumidor -->
    <add key="MyConfig:URLpoliticas" value="https://www.sic.gov.co/proteccion-del-consumidor" />
    <!-- URL de servicios -->
    <add key="MyConfig:URLservicios" value="https://nuevaweb.procinal.com/servicios/" />
    <!-- URL de protocolos de bioseguridad -->
    <add key="MyConfig:URLprotocolos" value="https://nuevaweb.procinal.com/protocolo-de-bioseguridad" />
    <!-- URL de experiencias -->
    <add key="MyConfig:URLexperiencias" value="https://nuevaweb.procinal.com/experiencias/" />
    <!-- URL de términos y condiciones del autocinema -->
    <add key="MyConfig:URLsobreprocinal" value="https://nuevaweb.procinal.com/terminos-y-condiciones-autocinema/" />
    <!-- URL de promociones -->
    <add key="MyConfig:URLpromociones" value="https://nuevaweb.procinal.com/promociones/" />
    <!-- URL de política de ética y transparencia -->
    <add key="MyConfig:URLeticaytra" value="https://nuevaweb.procinal.com/politica-de-etica-y-transparencia/" />
    <!-- URL de política de lavado de activos y financiación del terrorismo -->
    <add key="MyConfig:URLlaft" value="https://nuevaweb.procinal.com/politica-de-la/" />
    <!-- URL de resolución cinematográfica -->
    <add key="MyConfig:URLresoluccn" value="https://nuevaweb.procinal.com/clasificacion-cinematografica/" />
    <!-- URL de experiencia cinefans -->
    <add key="MyConfig:URLcinefans" value="https://nuevaweb.procinal.com/experiencia-cinefans/" />
    <!-- URL de Facebook -->
    <add key="MyConfig:URLfb" value="https://www.facebook.com/CinemasProcinalAntioquia" />
    <!-- URL de Instagram -->
    <add key="MyConfig:URLig" value="https://www.instagram.com/cinemasprocinal/" />
    <!-- URL de Twitter -->
    <add key="MyConfig:URLtw" value="https://twitter.com/cinemasprocinal" />
    <!-- URL de YouTube -->
    <add key="MyConfig:URLyb" value="https://www.youtube.com/channel/UCSNYS1YIbCr1YcTPvWHDJeg" />
    <!-- URL de TikTok -->
    <add key="MyConfig:URLtk" value="https://www.tiktok.com/@cinemasprocinal" />
    <!-- Botón de comprar -->
    <add key="MyConfig:ComprarBTN" value="S" />
    <!-- Punto de venta -->
    <add key="MyConfig:PuntoVenta" value="75" />
    <!-- Valor tercero -->
    <add key="MyConfig:ValorTercero" value="2" />
    <!-- Usuario para login -->
    <add key="MyConfig:UsuLogin2" value="pol@scoreprojects.net" />
    <!-- Contraseña para login -->
    <add key="MyConfig:PwdLogin2" value="pol" />
    <!-- Mínima diferencia de hora -->
    <add key="MyConfig:MinDifHora" value="50" />
    <!-- Mínima diferencia de confirmación -->
    <add key="MyConfig:MinDifConf" value="0" />
    <!-- Cantidad de productos -->
    <add key="MyConfig:CantProductos" value="99" />
    <!-- Cantidad de sillas para boletas -->
    <add key="MyConfig:CantSillasBol" value="6" />
    <!-- Código de medio de pago -->
    <add key="MyConfig:CodMedioPago" value="21" />
    <!-- Código de medio de pago para Cashback -->
    <add key="MyConfig:CodMedioPagoCB" value="2" />
    <!-- Vistas CF -->
    <add key="MyConfig:VistasCF" value="12" />
    <!-- Mensaje de excepción -->
    <add key="MyConfig:MessageException" value="Error en proceso, por favor vuelve a intentarlo o comunicate con el administador del sitio - " />
    <!-- Nombre de la empresa -->
    <add key="MyConfig:NomEmpresa" value="Cinemas Procinal" />
    <!-- Dirección de la empresa -->
    <add key="MyConfig:DirEmpresa" value="C.C. Mayorca Las Vegas #48-57, Sabaneta, Antioquia" />
    <!-- Ciudad de la empresa -->
    <add key="MyConfig:CiuEmpresa" value="Medellín, Colombia" />
    <!-- Teléfono de la empresa -->
    <add key="MyConfig:TelEmpresa" value="+57 4 4442244" />
    <!-- Correo de la empresa -->
    <add key="MyConfig:CorEmpresa" value="contactenos@procinal.com" />
    <!-- Tea por defecto -->
    <add key="TeaDefault" value="310" />
    <!-- Nombre por defecto -->
    <add key="MyConfig:NomDefault" value="San Nicolas" />
    <!-- Ciudad por defecto -->
    <add key="MyConfig:CiuDefault" value="Rionegro" />
    <!-- URL de Apify -->
    <add key="MyConfig:url_apify" value="https://apify.epayco.co/" />
    <!-- Cliente para la pasarela de pagos -->
    <add key="MyConfig:col_clint" value="39428" />
    <!-- Login para la pasarela de pagos -->
    <add key="MyConfig:col_login" value="ac8f3346c8916393d6d34adf8371422f" />
    <!-- Contraseña para la pasarela de pagos -->
    <add key="MyConfig:col_paswd" value="fa89f0dc4e193dd43539aecd34c78a52" />
    <!-- Cliente para la pasarela de pagos (producción) -->
    <add key="MyConfig:pro_clint" value="39428" />
    <!-- Login para la pasarela de pagos (producción) -->
    <add key="MyConfig:pro_login" value="45553ed81f52dd061756f892d9e2d835" />
    <!-- Contraseña para la pasarela de pagos (producción) -->
    <add key="MyConfig:pro_paswd" value="e47b777272da5881a37d0afa685fe369" />
    <!-- Fuente de la pasarela de pagos Epayco -->
    <add key="MyConfig:src_epayco" value="https://checkout.epayco.co/checkout.js" />
    <!-- Clase de la pasarela de pagos Epayco -->
    <add key="MyConfig:class_epayco" value="epayco-button" />
    <!-- Clave para la pasarela de pagos Epayco (colombia) -->
    <add key="MyConfig:data_epayco_key_col" value="ac8f3346c8916393d6d34adf8371422f" />
    <!-- Clave para la pasarela de pagos Epayco (producción) -->
    <add key="MyConfig:data_epayco_key_pro" value="45553ed81f52dd061756f892d9e2d835" />
    <!-- Moneda de la pasarela de pagos Epayco -->
    <add key="MyConfig:data_epayco_currency" value="cop" />
    <!-- País de la pasarela de pagos Epayco -->
    <add key="MyConfig:data_epayco_country" value="co" />
    <!-- Modo de prueba para la pasarela de pagos Epayco -->
    <add key="MyConfig:data_epayco_test" value="false" />
    <!-- Indicador externo para la pasarela de pagos Epayco -->
    <add key="MyConfig:data_epayco_external" value="false" />
    <!-- URL de validación segura de Epayco -->
    <add key="MyConfig:data_epayco_secure" value="https://secure.epayco.co/validation/v1/reference/" />
    <!-- URL de respuesta de Epayco -->
    <add key="MyConfig:data_epayco_response" value="https://portalweb.procinal.com/Pages/Responses" />
    <!-- URL de confirmación de Epayco -->
    <add key="MyConfig:data_epayco_confirmation" value="https://portalweb.procinal.com/Pages/Confirmation" />
    <!-- Fuente de la pasarela de pagos Wompi -->
    <add key="MyConfig:src_wompi" value="https://checkout.wompi.co/widget.js" />
    <!-- Llave privada de Wompi -->
    <add key="MyConfig:keyprivate" value="prv_prod_TYr5QlVvfJP7ImndJj2pKOHOgCMtqoWy" />
    <!-- Llave pública de Wompi -->
    <add key="MyConfig:keypublica" value="pub_prod_Dl8lMkMP00gVDlwnTMio2UwDPOZImaKN" />
    <!-- Secreto de evento de Wompi -->
    <add key="MyConfig:secretoEvento" value="prod_events_sxpcjZpooR0tlaMmytqfO0N2RMCywMgh" />
    <!-- Secreto de integridad de Wompi -->
    <add key="MyConfig:secretoIntegridad" value="prod_integrity_lgb2dJuSCkrNIX8wESwEDAOTBWyKcTRT" />
    <!-- URL de respuesta de Wompi -->
    <add key="MyConfig:src_wompi_responses" value="https://production.wompi.co/v1/transactions/" />
  </appSettings>
</configuration>
